<div class="container">
  <header>
    <div class="logo d-flex justify-content-center mt-5">
      <img src="../assets/Action Labs.png" alt="logo">
    </div>
    <hr>
    <div class="d-flex justify-content-center mt-5">
      <h2>BRL Exchange Rate</h2>
    </div>
  </header>

  <div class="d-flex justify-content-center mt-4">
    <mat-form-field appearance="fill">
      <mat-label>Enter the currency code</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="coin">
        <mat-option *ngFor="let coin of coins" [value]="coin.value">
          {{coin.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center buttonaction exchange">
    <button type="submit" (click)="showValue(selectedValue)">
      Exchange result
    </button>
  </div>

  <div *ngIf="showDetails">
    <hr>

    <div class="row">
      <div class="col-xs-6 buttonBlue">
        <strong>Exchange rate now</strong>
      </div>
      <div class="col-xs-6 d-flex align-items-end ml-auto pair">
        {{selectedValue || '-'}}/{{toSymbol || 'BRL'}}
      </div>

    </div>
    <div class="row">
      <div class="col-xs-4">
        {{lastUpdatedAt | date: 'dd/MM/yyyy HH:mm'}}
      </div>
    </div>

    <app-results [exchangeRate]="exchangeRate"></app-results>

  </div>

  <app-footer></app-footer>
</div>



<!-- <div class="container">
  <div class="logo">
    <img src="../assets/Action Labs.png" alt="">
  </div>
  <div class="line"></div>

  <div class="exchange">
    <h3>
      BRL Exchange Rate
    </h3>
  </div>

  <div class="currency">
    <mat-form-field appearance="fill">
      <mat-label>Enter the currency code</mat-label>
      <mat-select  name="currency">
        <mat-option>
          USD
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="action">
    <button type="submit">
      Exchange result
    </button>
  </div>

  <app-results></app-results>


  <app-footer></app-footer>
</div>
 -->
